.modulo_empresas_techint{
    background-color: #F5F5F5;
    padding: 42px 20px 30px;
    margin-bottom: 50px;
    position: relative;
    &_ancla{
        position: absolute;
        top: -300px;
    }
    &_titulo{
       font-size: 18px;
       font-weight: 700;
       line-height: 24px; 
       margin-bottom: 10px;
    }
    &_txt{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px; 
        margin-bottom: 20px;
     }
    &_logos{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        svg{
            margin-bottom: 30px;
            margin: 15px 20px;
        }
    }
}

@media only screen and (min-width: 1024px){

    .modulo_empresas_techint{
        padding: 100px 50px 60px;
        &_wrp{
            max-width: 1248px;
            margin: 0 auto;
        }
        &_logos{
            justify-content: space-between;
            svg{
                height: 80px;
            }
            a{
                &:nth-child(2){
                    svg{
                        width: 160px;
                        height: 50px;
                    }
                }
                &:nth-child(3){
                    svg{
                        width: 230px;
                        height: 60px;
                    }
                }
                &:last-child{
                    svg{
                        width: 160px;
                        height: 90px;
                        margin-top: -15px;
                    }
                }
            }
        }
        &_info{
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
        }
        &_titulo{
            width: 570px;
            font-size: 24px;
           line-height: 28px;
           margin-right: 30px;
        }
        &_txt{
            width: 570px;
            font-size: 18px;
            line-height: 24px;
        }
    }
}