.swiper-pagination{
    position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
    left: -16px;
    position: relative;
    margin-top: 17px;
}



/* Modulo Nota*/

.modulo_articulos.nota{
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0;
        left: -16px;
        position: relative;
        margin-top: 60px;
    }
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px));

}

:root {
    --swiper-theme-color: #000000;
}

/* Modulo Programas educativos*/
.modulo_programas_educativos .swiper-horizontal>.swiper-pagination-bullets{
    left: 15px;
}

.modulo_programas_educativos .swiper-wrapper{
    justify-content: space-between;
    padding-left: 20px;
}

.modulo_programas_educativos .swiper{
    padding: 0 40px 0 0;
}

 /* Modulo Articulos*/

.modulo_articulos .swiper-slide, .modulo_foto_con_slider_wrp .swiper-slide{
    width: auto;
}

.modulo_articulos .swiper-button-next, .modulo_articulos .swiper-button-prev{
    display: none;
}

.modulo_articulos .swiper{
    padding: 0 20px 0 0;
}

 /* nuestros Proyectos*/

 .modulo_articulos.nuestros_proyectos .swiper-horizontal > .modulo_articulos.nuestros_proyectos .swiper-pagination-bullets, .modulo_articulos.nuestros_proyectos .swiper-pagination-bullets.swiper-pagination-horizontal, .modulo_articulos.nuestros_proyectos .swiper-pagination-custom, .modulo_articulos.nuestros_proyectos .swiper-pagination-fraction{
   margin-top: 270px;
 }

/* Modulo foto*/

.modulo_foto_con_slider_wrp  .swiper-button-next, .modulo_foto_con_slider_wrp  .swiper-button-prev{
    display: none;
}

.modulo_foto_con_slider_swiper .swiper-wrapper{
    background-color: #f5f5f5;
    padding-left: 20px;
}

.modulo_foto_con_slider_swiper .swiper-pagination{
    margin: 0;
    padding-top: 20px;
    background-color: #f5f5f5;
}

/* Modulo La voz de los protagonistas*/

.modulo_la_voz_de_los_protagonistas .swiper-wrapper{
    padding: 10px 00px;
}

.modulo_la_voz_de_los_protagonistas .swiper-slide{ 
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.05);
}
   

@media only screen and (min-width: 1024px){

     /* nuestros Proyectos*/

 .modulo_articulos.nuestros_proyectos .swiper-horizontal > .modulo_articulos.nuestros_proyectos .swiper-pagination-bullets, .modulo_articulos.nuestros_proyectos .swiper-pagination-bullets.swiper-pagination-horizontal, .modulo_articulos.nuestros_proyectos .swiper-pagination-custom, .modulo_articulos.nuestros_proyectos .swiper-pagination-fraction{
    margin-top: initial;
  }

    /* Modulo Programas educativos*/

    .modulo_programas_educativos .swiper-pagination-bullets.swiper-pagination-horizontal{
        display: none;
    }

    .modulo_programas_educativos .swiper-wrapper{
        justify-content: space-between;
        padding-left: 0;
    }

    .modulo_programas_educativos .swiper-slide:last-child{
        margin: 0!important;
    }

    /* Modulo La voz de los protagonistas*/

    .modulo_la_voz_de_los_protagonistas .swiper-wrapper{
        justify-content: space-around;
    }

    .modulo_la_voz_de_los_protagonistas .swiper-slide:last-child{
        margin: 0!important;
    }

    .modulo_la_voz_de_los_protagonistas .swiper-pagination{
        display: none;
    }

    /* Modulo Articulos*/

    .modulo_articulos .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        display: flex;
        justify-content: end;
        margin-top: -10px;
    }


    .modulo_articulos .swiper-button-next, .modulo_articulos .swiper-button-prev{
        display: block;  
    }
    
    .modulo_articulos .swiper-button-wrp{
        display: flex;
        margin-top: 40px;
        padding: 0 50px;
        align-items: center;
    }

    .modulo_articulos .swiper-button-next{
        position: relative;
        margin-left: 40px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 4px 5px 5px 10px;
        font-weight: bold;
        &:hover{
            background-color: black;
            --swiper-theme-color:white;
        }

    }

    .modulo_articulos .swiper-button-prev{
        position: relative;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 4px 9px 5px 7px;
        font-weight: bold;
        &:hover{
            background-color: black;
            --swiper-theme-color:white;
        }
    }

    /* Modulo Nota*/

.modulo_articulos.nota{
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 0;
        justify-content: end;
        position: relative;
        margin-top: -10px;
    }
    .swiper-button-wrp{
        margin-top: 50px;
        padding: 0;
    }
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,12px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,12px));

}


    /* Modulo foto*/

    .modulo_foto_con_slider_swiper .swiper-wrapper{
        margin-left: -50px;
        padding-left: 0px;
    }

    .modulo_foto_con_slider_swiper .swiper-pagination{
        padding-top: 0;
        justify-content: flex-end;
        margin-top: -10px;
    }

    .modulo_foto_con_slider_wrp  .swiper-button-next, .modulo_foto_con_slider_wrp  .swiper-button-prev{
        display: flex;
    }

    .modulo_foto_con_slider_wrp .swiper-button-wrp{
        display: flex;
        margin-top: 40px;
        padding: 0 50px;
        align-items: center;
    }

    .modulo_foto_con_slider_wrp .swiper-button-next{
        position: relative;
        margin-left: 40px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 4px 5px 5px 10px;
        font-weight: bold;
        &:hover{
            background-color: black;
            --swiper-theme-color:white;
        }

    }

    .modulo_foto_con_slider_wrp .swiper-button-prev{
        position: relative;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 15px;
        padding: 4px 9px 5px 7px;
        font-weight: bold;
        &:hover{
            background-color: black;
            --swiper-theme-color:white;
        }
    }

    :root{
        --swiper-navigation-size: 16px;
    }

}
