@charset "UTF-8";
@font-face {
  font-family: 'TT Norms';
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/TT_Norms_Pro_Regular.ttf);
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/TT_Norms_Pro_Medium.ttf);
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/TT_Norms_Pro_Bold.ttf);
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/TT_Norms_Pro_ExtraBold.ttf);
}

@font-face {
  font-family: 'TT Norms';
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/TT_Norms_Pro_Black.ttf);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TT Norms", arial, sans-serif;
}

*:focus, *:active {
  outline: 0;
  border: 0;
}

.container {
  width: 100%;
  max-width: 1349px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.header_background {
  background-color: white;
  border-radius: 5px;
}

.header_sticky_background {
  background-color: #E7E7E7;
  border-radius: 5px;
}

.rotate180 {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.hover {
  background-color: #1A1A1A;
}

.black {
  color: black !important;
}

.grey path {
  stroke: #E7E7E7 !important;
}

.no-scroll {
  overflow: hidden;
}

.header_sticky.emerge {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  height: auto;
}

.extra_margin {
  margin-top: 50px;
}

button {
  background: none;
  border: none;
  outline: 0;
}

button:active, button:focus {
  border: none;
  outline: 0;
}

.modulo_animacion {
  margin-bottom: 100px;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .extra_margin {
    margin-top: 250px;
  }
  .modulo_animacion {
    margin-bottom: 50px;
  }
}

.header {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}

.header_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_izq_logo svg {
  height: 24px;
  width: 101px;
  margin-top: 2px;
}

.header_izq_idioma {
  margin-left: 12px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: none;
}

.header_izq_idioma p {
  color: white;
  font-size: 15px;
}

.header_izq_idioma_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.header_izq_idioma_principal:hover p {
  color: #69B3E7 !important;
}

.header_izq_idioma_principal p {
  color: white;
}

.header_izq_idioma_principal svg {
  margin-left: 7px;
}

.header_izq_idioma_aux {
  display: none;
}

.header_izq_idioma_aux p {
  color: black;
  margin-bottom: 5px;
  font-size: 15px;
}

.header_izq_idioma_aux p:hover {
  color: #69B3E7;
}

.header_der {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_der_buscador {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  display: none;
}

.header_der_buscador path {
  fill: white;
}

.header_der_buscador_input {
  display: none;
}

.header_der_campus {
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding: 5px 18px;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
}

.header_der_campus span {
  margin: 0 3px;
  display: none;
}

.header_der_campus:hover {
  background-color: #D9E3EB;
  border: 1px solid transparent;
  color: black;
}

.header_der_hamburguesa {
  padding: 10px;
  margin-left: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header_der_hamburguesa_linea {
  width: 18px;
  height: 2px;
  background-color: white;
  margin-bottom: 3px;
}

.header_der_hamburguesa_linea:last-child {
  margin-bottom: 0;
}

.header_der_hamburguesa:hover {
  background-color: #D9E3EB;
  border: none;
}

.header_der_hamburguesa:hover .header_der_hamburguesa_linea {
  background-color: black;
}

.header_sticky {
  height: 126px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 90%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.header_sticky_wrp {
  display: block;
  padding: 10px 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.header_sticky_top {
  padding-bottom: 0px;
  padding: 10px 20px;
  margin-bottom: 16px;
  position: fixed;
  background-color: white;
  z-index: 105;
  opacity: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 55px;
}

.header_sticky_top_wrp {
  max-width: 1248px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_sticky_bottom {
  width: 100%;
  background-color: white;
  opacity: 90%;
  position: fixed;
  top: 54px;
  z-index: 100;
  border-bottom: 1px solid #F3F3F3;
}

.header_sticky_bottom_wrp {
  max-width: 1248px;
  margin: 0 auto;
}

.header_sticky_bottom_wrp_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  height: 42px;
  margin-bottom: -1px;
  padding-left: 20px;
  padding-right: 20px;
}

.header_sticky_bottom_wrp_a::-webkit-scrollbar {
  display: none;
}

.header_sticky_bottom_wrp_a a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px 0;
  margin-bottom: 2px;
  margin-top: 2px;
  font-weight: 500;
}

.header_sticky_bottom_wrp_a a:hover {
  border-bottom: 5px solid black;
  margin-bottom: 0;
}

.header_sticky_bottom_wrp_a a:focus {
  border-bottom: 5px solid black;
  margin-bottom: 0;
}

.header_sticky_izq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_sticky_izq_logo svg #Trazado_8080 {
  fill: black;
}

.header_sticky_izq_logo svg #Rectángulo_56445 {
  fill: black;
}

.header_sticky_izq_logo svg #Rectángulo_56446 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8081 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8082 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8083 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8084 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8085 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8086 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8087 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8088 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8089 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8090 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8091 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8092 {
  fill: black;
}

.header_sticky_izq_logo svg #Trazado_8093 {
  fill: black;
}

.header_sticky_izq_idioma {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  left: 107px;
}

.header_sticky_izq_idioma_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.header_sticky_izq_idioma_principal p {
  color: black;
  font-size: 15px;
}

.header_sticky_izq_idioma_principal p:hover {
  color: #69B3E7 !important;
}

.header_sticky_izq_idioma_principal svg {
  margin-left: 7px;
}

.header_sticky_izq_idioma_aux {
  display: none;
}

.header_sticky_izq_idioma_aux p {
  color: black;
  margin-bottom: 5px;
  font-size: 15px;
}

.header_sticky_izq_idioma_aux p:hover {
  color: #69B3E7 !important;
}

.header_sticky_der {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_sticky_der_buscador {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  display: none;
}

.header_sticky_der_buscador path {
  fill: black;
}

.header_sticky_der_buscador_input {
  display: none;
}

.header_sticky_der_campus {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 18px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  font-weight: 500;
}

.header_sticky_der_campus span {
  margin: 0 3px;
  display: none;
}

.header_sticky_der_campus:hover {
  border: 1px solid transparent;
  background-color: #D9E3EB;
  color: black;
}

.header_sticky_der_hamburguesa {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  margin-top: -5px;
  margin-right: -10px;
  margin-left: 12px;
  padding: 10px 10px  10px 10px;
  border: none;
  cursor: pointer;
}

.header_sticky_der_hamburguesa_linea {
  width: 18px;
  height: 2px;
  background-color: black;
  margin-bottom: 3px;
}

.header_sticky_der_hamburguesa_linea:last-child {
  margin-bottom: 0;
}

.header_sticky_der_hamburguesa:hover {
  background-color: #D9E3EB;
}

.header_sticky_der_hamburguesa:hover .header_sticky_der_hamburguesa_linea {
  background-color: black;
}

.header_sticky .home {
  height: initial;
}

@media only screen and (min-width: 1024px) {
  .header {
    height: auto;
    padding: 40px  50px;
    border: none;
  }
  .header_wrp {
    max-width: 1248px;
    padding-left: 0;
    padding-right: 0;
  }
  .header_izq_logo svg {
    width: 250px;
    height: auto;
  }
  .header_izq_idioma {
    margin-left: 32px;
  }
  .header_der {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header_der_buscador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    cursor: pointer;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
  }
  .header_der_buscador:hover {
    border: 1px solid #D9E3EB;
    background-color: #D9E3EB;
    width: 260px;
    padding: 10px 20px;
  }
  .header_der_buscador:hover path {
    fill: black;
  }
  .header_der_buscador:hover .header_der_buscador_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #D9E3EB;
    border: none;
    width: 90%;
    font-size: 16px;
  }
  .header_der_buscador button {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .header_der_campus {
    padding: 8px 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_der_campus span {
    display: initial;
  }
  .header_der_hamburguesa {
    border: 1px solid white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
  }
  .header_sticky {
    height: 75px;
  }
  .header_sticky_wrp {
    max-width: 1248px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header_sticky_izq_logo svg {
    width: 150px;
    height: 40px;
  }
  .header_sticky_izq_idioma {
    left: 0;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-left: 32px;
  }
  .header_sticky_top {
    padding: 15px 50px;
    height: 75px;
  }
  .header_sticky_bottom {
    padding: 0 50px;
    top: 74px;
    opacity: 75%;
  }
  .header_sticky_bottom_wrp_a {
    padding-left: 0px;
    gap: 40px;
  }
  .header_sticky_bottom_wrp_a a:first-child {
    padding-left: 0;
  }
  .header_sticky_bottom_wrp_a a:last-child {
    padding-right: 0;
  }
  .header_sticky_der_buscador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    cursor: pointer;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
  }
  .header_sticky_der_buscador:hover {
    border: 1px solid #D9E3EB;
    background-color: #D9E3EB;
    width: 260px;
  }
  .header_sticky_der_buscador:hover path {
    fill: black;
  }
  .header_sticky_der_buscador:hover .header_der_buscador_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #D9E3EB;
    border: none;
    width: 90%;
    font-size: 16px;
  }
  .header_sticky_der_buscador button {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .header_sticky_der_campus {
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_sticky_der_campus span {
    display: initial;
  }
  .header_sticky_der_hamburguesa {
    margin-top: 0;
    border: 1px solid white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
  }
}

.menu {
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 60px 0 50px 0;
  overflow-y: auto;
}

.menu::-webkit-scrollbar {
  width: 5px;
  background: black;
}

.menu_wrp {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.24);
  position: fixed;
  top: 0;
  z-index: 200;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
  transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
}

.menu_close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.menu_close2 {
  display: none;
  cursor: pointer;
}

.menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 22px 12px 25px;
  text-decoration: none;
}

.menu_btn p {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.menu_btn p:hover {
  color: #69B3E7;
}

.menu_btn_submenu {
  padding-bottom: 10px;
}

.menu_btn_submenu a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 15px 7px 25px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_btn_submenu a:hover {
  color: #69B3E7;
}

.menu_btn_submenu_punto_1 {
  width: 10px;
  height: 10px;
  background-color: #F93822;
  border-radius: 5px;
  margin-right: 10px;
}

.menu_btn_submenu_punto_2 {
  width: 10px;
  height: 10px;
  background-color: #FF6F00;
  border-radius: 5px;
  margin-right: 10px;
}

.menu_btn_submenu_punto_3 {
  width: 10px;
  height: 10px;
  background-color: #0072CE;
  border-radius: 5px;
  margin-right: 10px;
}

.menu_btn_submenu_punto_4 {
  width: 10px;
  height: 10px;
  background-color: #19B300;
  border-radius: 5px;
  margin-right: 10px;
}

.menu_buscar {
  background-color: #282828;
  padding: 10px 20px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.menu_buscar_input {
  background-color: transparent;
  border: none;
  color: white;
}

.menu_buscar_input :focus-visible {
  border: none;
}

.menu_buscar_input::-webkit-input-placeholder {
  color: #949494;
  font-size: 16px;
}

.menu_buscar_input:-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
}

.menu_buscar_input::-ms-input-placeholder {
  color: #949494;
  font-size: 16px;
}

.menu_buscar_input::placeholder {
  color: #949494;
  font-size: 16px;
}

.menu_wrp.opened {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  padding-right: 17px;
  -webkit-backdrop-filter: blur(4px) brightness(0.8);
          backdrop-filter: blur(4px) brightness(0.8);
}

@media only screen and (min-width: 1024px) {
  .menu {
    max-width: 360px;
  }
  .menu_close {
    display: none;
  }
  .menu_close2 {
    display: block;
    position: absolute;
    right: 35px;
    top: 0;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_close2 svg {
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
  }
  .menu_close2 svg #Rectángulo_57696 {
    fill: black;
    height: 2px;
  }
  .menu_close2 svg #Rectángulo_57697 {
    fill: black;
    height: 2px;
  }
}

.redes_sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  opacity: 95%;
  z-index: 100;
}

.redes_sticky_wrp {
  padding: 10px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.redes_sticky_wrp svg {
  width: 30px;
  height: 30px;
  padding: 5px;
}

@media only screen and (min-width: 1024px) {
  .redes_sticky {
    display: none;
  }
}

.modulo_preguntas_frecuentes {
  padding: 100px 20px 50px;
  max-width: 1248px;
  margin: 0 auto;
  width: 100%;
}

.modulo_preguntas_frecuentes_titulo {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modulo_preguntas_frecuentes_titulo_decoracion {
  width: 95px;
  height: 5px;
  background-color: #0072CE;
}

.modulo_preguntas_frecuentes_titulo_wrp {
  margin-bottom: 30px;
}

.modulo_preguntas_frecuentes_pregunta {
  border: 1px solid #D9E3EB;
  background-color: #F0F7FD;
  border-radius: 7px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.modulo_preguntas_frecuentes_pregunta_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modulo_preguntas_frecuentes_pregunta_principal_svg {
  margin-right: 10px;
  cursor: pointer;
}

.modulo_preguntas_frecuentes_pregunta_principal_svg #Rectángulo_56305 {
  display: block;
}

.modulo_preguntas_frecuentes_pregunta_principal_titulo {
  font-size: 16px;
  color: #2A2A2A;
  font-weight: 600;
  line-height: 18px;
}

.modulo_preguntas_frecuentes_info {
  display: none;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 0;
}

.modulo_preguntas_frecuentes_pregunta.no_desplegado {
  background: none !important;
}

.modulo_preguntas_frecuentes_pregunta_principal_svg.menos #Rectángulo_56305 {
  display: none;
}

.modulo_preguntas_frecuentes.ficha {
  padding: 0 0 50px;
}

.modulo_preguntas_frecuentes.ficha .modulo_preguntas_frecuentes_info p {
  font-size: 16px;
  line-height: 22px;
}

.modulo_preguntas_frecuentes.ficha .modulo_preguntas_frecuentes_info ul {
  padding: 0 20px;
  margin-bottom: 20px;
}

.modulo_preguntas_frecuentes.ficha .modulo_preguntas_frecuentes_info li {
  margin-bottom: 10px;
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .modulo_preguntas_frecuentes {
    padding: 80px 50px 100px;
  }
  .modulo_preguntas_frecuentes_pregunta_principal_titulo {
    font-size: 20px;
  }
  .modulo_preguntas_frecuentes.ficha {
    padding-left: 75px;
  }
}

@media only screen and (min-width: 1250px) {
  .modulo_preguntas_frecuentes {
    max-width: 1348px;
  }
}

.footer {
  background-color: black;
  padding: 45px 50px 100px;
  position: relative;
  z-index: 50;
}

.footer_logos {
  border-bottom: 1px solid #111111;
}

.footer_logos_principal {
  margin-bottom: 35px;
}

.footer_logos_der {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.footer_logos_der svg {
  margin-bottom: 20px;
}

.footer_contacto {
  margin-bottom: 10px;
}

.footer_contacto_der {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  margin-top: 10px;
}

.footer_contacto_contacto {
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.footer_contacto_contacto_barra {
  margin: 0 20px;
  color: white;
}

.footer_contacto_seguinos {
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
}

.footer_contacto_seguinos a {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer_contacto_seguinos a p {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer_contacto_seguinos a:hover p {
  color: #69B3E7;
}

.footer_contacto_seguinos a:hover svg #Trazado_2453 {
  fill: #69B3E7;
}

.footer_contacto_copyright {
  color: white;
  text-align: center;
}

.footer_contacto_copyright a {
  color: #C9C9C9;
}

.footer_contacto_copyright p {
  font-size: 14px;
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 30px 50px 55px;
  }
  .footer_wrp {
    max-width: 1248px;
    margin: 0 auto;
  }
  .footer_logos {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    display: -webkit-box;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .footer_logos_principal {
    margin: 0;
    width: 177px;
    height: auto;
  }
  .footer_logos_der {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
  }
  .footer_logos_der svg {
    margin-left: 50px;
    margin-bottom: 0;
  }
  .footer_logos_der a svg {
    margin-top: -40px;
  }
  .footer_contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 0 0 0;
  }
  .footer_contacto_der {
    margin: 0;
  }
  .footer_contacto_contacto:hover {
    color: #69B3E7;
  }
  .footer_contacto_copyright a {
    color: #888888;
  }
  .footer_contacto_copyright a:hover {
    text-decoration: none;
  }
  .footer_contacto_copyright p {
    color: #888888;
  }
}
/*# sourceMappingURL=faqs.css.map */