@import "_generales";
@import "_header";
@import "_menu";
@import "_footer";

.tyc{
    &_wrp{
        padding: 100px 20px;
        max-width: 1248px;
        margin: 0 auto;
    }
    &_titulo{
        font-size: 24px;
        font-weight: 600;
        line-height: 42px;
        &_wrp{
            margin-bottom: 60px;
        }
    }
    &_decoracion{
        width: 95px;
        height: 5px;
        background-color: $azul;
    }
    &_cuerpo{
        &_titulo{
            font-size: 24px;
            font-weight: 600;
            line-height: 22px;
            margin-bottom: 32px;
        }
        &_texto{
            font-size: 18px;
            line-height: 26px;
        }
        &_subtitulo{
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            margin-bottom: 32px;
        }
    }
}

@media only screen and (min-width: 1024px){
    .tyc{
        &_wrp{
            max-width: 1248px;
            margin: 0 auto;
            padding: 80px 50px;
        }
    }
}

@media only screen and (min-width: 1250px){

    .tyc{
        &_wrp{
            max-width: 1350px;
        }
    }
}